build
project/project.iml
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
*.iml
*.class
tags
logs
target/
lib_managed/
.*.swp
.*.swo
.cache
.classpath
.DS_Store
.idea_modules
.settings
.project
.idea/
